<style>
  .content {
    font-family: Arial, Helvetica, sans-serif;
  }
  .header{
     font-weight: bold;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<div class="content">
{{#each this}}
<div style="margin-bottom: 10px;">
   <span style="font-weight: bold; font-size: 13px">Institute:</span> <span style="font-size: 13px">qwrqwrwqr</span>
</div>
{{/each}}
</div>